# database envs
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_HOST=...
POSTGRES_PORT=...
POSTGRES_DB=...

OPENROUTER_API_KEY=...
OPENROUTER_AI_MODEL=...
OPENAI_API_KEY=...
OPENROUTER_EMBEDDING_API_URL=...
HF_TOKEN=...