# database envs
POSTGRES_USER=backend
POSTGRES_PASSWORD=secret
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=hackujstat

OPENROUTER_API_KEY=
OPENROUTER_AI_MODEL="google/gemini-2.5-flash-lite-preview-09-2025"
OPENAI_API_KEY=...